#!/usr/bin/env bash

RUSTC_BOOTSTRAP=1

COMPLEMENT_DIR=../complement

SYNAPSE_POSTGRES=1
SYNAPSE_PG_TIMINGS=1
SYNAPSE_TEST_MTXDB=1
#SYNAPSE_TEST_EMBEDDED_HAMT_ENGINE=mtxdb
SYNAPSE_TEST_EMBEDDED_HAMT_PATH="$(pwd)/.tmp/mtxdb-test"
